body{
  background-color: lightblue;
  width: 600px;
}

.screen{
  text-align: right;
}

.result{
  background-color: lightblue;
  text-align:right;
}
table{
  display: block;
}
.clear{
  width:60px;
}

#calculator{
  margin-left: 50%;
  width: 600px;
}
